.hello {
  font-size: 3rem;
  font-weight: 700;
  color: $dark;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}
.description {
  font-size: 1.25rem;
  line-height: 1.6;
  position: relative;

  span {
    font-weight: 600;
    border-bottom: 0.125rem solid $dark;

    &:hover .info{
      visibility: visible;
    }

    .info {
      visibility: hidden;
      font-size: 1rem;
      font-weight: normal;
      border-bottom: 0;
      padding: 1rem;
      width: 15rem;
      height: 12rem;
      background-color: #efefef;
      position: absolute;
      top: -2rem;
      left: calc(44% - 7.5rem);
      margin-left: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      z-index: 4;
      display: flex;
      align-items: center;
    }
  }
}

.heading {
  color: $dark;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-top: 6rem;

  &:before {
    content: "";
    width: 1.5rem;
    height: 0.175rem;
    background-color: $dark;
    position: absolute;
    z-index: 6;
    top: -1.25rem;
    left: 0;
  }
}

.recent-work {
  margin-bottom: 3rem;
  position: relative;
  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  p {
    color: $dark-light;
    margin-bottom: 0;
  }
  .link-overlay {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.works {
  .recent-work:nth-child(1) {
    color: $color-one;
  }
  .recent-work:nth-child(2) {
    color: $color-two;
  }
  .recent-work:nth-child(3) {
    color: $color-three;
  }

}