$body-bg: #fff;

$dark: #212121;
$dark-light: #757575;

$color-one: #0984e3;
$color-two: #6c5ce7;
$color-three: #fd79a8;
$color-four: #e1b12c;
$color-five: #e58e26;
$color-six: #40739e;

// Menu item
$menu: #757575;